.DS_Store
*~.*
*.chk
*.xcworkspace
xcuserdata/
build/
.repos/
.bootstrap.auto/
.bootstrap.local/
.bootstrap.repos/
dependencies/
addictions/
mulle-bootstrap.sublime-workspace
relpath-python.sh
relpath.sh

tutorial/*/.bootstrap

tests/*/.bootstrap
tests/*/main/
tests/*/a/
tests/*/b/
tests/*/c/
tests/*/d/
tests/*/e/
tests/*/f/
tests/*/g/
tests/*/h/
mulle-mingw-cpp.exe
