.DS_Store
*~.*
*.chk
*.bak
*.old
*.xcworkspace
xcuserdata/
build/
.repos/
.bootstrap.auto/
.bootstrap.local/
.bootstrap.repos/
dependencies/
addictions/
mulle-bootstrap.sublime-workspace
relpath-python.sh
relpath.sh
tap-info.sh

tutorial/*/.bootstrap

tests/*/.bootstrap
tests/*/main/
tests/*/a/
tests/*/b/
tests/*/c/
tests/*/d/
tests/*/e/
tests/*/f/
tests/*/g/
tests/*/h/
mulle-mingw-cpp.exe
tests/05-deep_embedded/log
tests/05-deep_embedded/log1
tests/05-deep_embedded/log2
tests/07-embedded_symlink/checking
tests/08-refresh/log
tests/11-copy/a.tar
tests/17-deep_embedded_environment/README.md
tests/17-deep_embedded_environment/log
tests/18-cmake/CMakeLists.txt
tests/18-cmake/b.c
tests/18-cmake/b.h
tests/20-defer_embedded/Boobie/
tests/20-defer_embedded/Foobie/
tests/20-defer_embedded/Master/Minion/.bootstrap/embedded_repositories
tests/20-defer_embedded/Master/Minion/.bootstrap/repositories
tests/20-defer_embedded/Master/stashes/Foobie
tests/20-defer_embedded/log
tests/20-defer_embedded/log1
tests/20-defer_embedded/log2
tests/21-defer_advanced/Boobie/
tests/21-defer_advanced/Foobie/
tests/21-defer_advanced/Master/Minion/.bootstrap/embedded_repositories
tests/21-defer_advanced/Master/Minion/.bootstrap/repositories
tests/21-defer_advanced/Master/Minion/Boobie/
tests/21-defer_advanced/Master/Minion2/.bootstrap/embedded_repositories
tests/21-defer_advanced/Master/Minion2/.bootstrap/repositories
tests/21-defer_advanced/Master/Minion2/Boobie/
tests/21-defer_advanced/Master/stashes/Foobie
tests/21-defer_advanced/README.md
tests/21-defer_advanced/log
tests/21-defer_advanced/log1
tests/21-defer_advanced/log2
tests/Boobie/
tests/Foobie/
tests/Master/Minion/.bootstrap/embedded_repositories
tests/Master/Minion/.bootstrap/repositories
tests/Master/Minion/Boobie/
tests/Master/Minion2/.bootstrap/embedded_repositories
tests/Master/Minion2/.bootstrap/repositories
tests/Master/Minion2/Boobie/
tests/Master/stashes/Foobie
tests/a/b
tests/a/c
tests/b/
tests/c/
tests/d/
tests/e/
tests/f/
tests/g/
tests/h/
package/
