.DS_Store
*~.*
*.chk
*.bak
*.old
tmp.*
*.xcworkspace
xcuserdata/
build/
.repos/
.bootstrap.auto/
.bootstrap.local/
.bootstrap.repos/
dependencies/
addictions/
mulle-bootstrap.sublime-workspace
relpath-python.sh
relpath.sh
mulle-projec/publisher-info.sh

tutorial/*/.bootstrap

tests/
!*.sh
